@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body
{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
.stillNavbar
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    height: 12vh;
   
}
.fixedNavBar
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    height: 8vh;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 200;
    animation: navbarVisible 0.25s ease-in;
}


.left, .mid, .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    justify-content: flex-start;
    
}
.imgCont
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1%;
}

.imgCont img
{
    width: 25%;
    height: 90%;
    border-radius: 5px;
    object-fit: cover;
}
#hideNavbar
{
    display: none;
}

#showNavbar
{
    display: none;
}

.mid
{
    gap:10%;
    font-size: 0.9em;
    word-wrap:break-word;
    height: 100%;
}

.activeOpt
{
    background-color: #000 !important;
    color:#fff !important;
}

.headerOpt
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.option
{
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    transition: 0.25s;
    padding: 8% 50%;
    border-radius: 15px;
    border: none;
    font-size: 0.9em;
    font-weight: 600;
}

.option:hover
{
    background-color: #000 !important;
    color:#fff;
}



.right {
    justify-content: flex-end;
    padding-right: 2%;
}



.apply
{
    height: 40%;
    width: fit-content;
    width: 20%;
    border-radius: 25px;
    border: none;
    background-color: #000;
    color:#fff;
    cursor: pointer;
    transition: .25s;
    border: 1px solid #000;
    font-weight: 800;
    font-size: 0.8em;
}
.linktoauth
{
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.UserName
{
    font-weight: 600;
    cursor: pointer;
    transition: .25s;
}
.UserName:hover
{
    transform: scale(1.2);
}
.apply:hover
{
    color: #000;
    background-color:#fff;
}

#mainCont
{
    display: flex;
    justify-content: top;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}

.bannerCont
{
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: #000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20%;
}

.bannerText
{
    color: #fff;
    font-size: 2.7em;
    animation: blink 6s infinite;
}
.webname
{
    color: #fff;
    font-size: 0.8em;
}


.companiesCont
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    place-items: center;
    margin:10% 5%;
    column-gap: 3%;
    height: 40vh;
}

.infoCont
{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 2%;
    border-radius: 15px;
    background-color: #000;
    color: #fff;
    column-gap: 10%;
    border: 2px solid;
}

.description
{
    width: 80%;
    flex:1;
}

.numberOfOperation
{
    display: flex;
    font-size: 2em;
    flex:1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid;
}


.hiddenSection
{
    display: none !important;
}


/* --------------Jobs Section -----------------*/
.JobsSection {
    padding: 50px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.jobsHeader {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    width: 50%;
}
.jobsList {
    width: 80%;
    max-width: 800px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap:10%;
    overflow: auto;
    padding-right: 5%;
}
.jobsList::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
}
.jobsList::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
}

/* Scrollbar Track */
.jobsList::-webkit-scrollbar-track {
    background: #111;
    border-radius: 10px;
}

/* Scrollbar Thumb (The moving part) */
.jobsList::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

/* Scrollbar Thumb on Hover */
.jobsList::-webkit-scrollbar-thumb:hover {
    background: gray; 
}


.jobCard
{
    display: flex;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5%;
    justify-content: space-between;
    column-gap:20%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}
.job-details
{
    flex:2;
}
.btnCont
{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:30%;
}
.jobTitle
{
    font-size: 1.3em;
}

.companyName
{
    font-size: 1em;
}

.jobDescription
{
    font-size: 0.8em;
}
.applyJobBtn
{
   height: 50%;
   width: 60%;
   font-size: 0.8em;
   border: 1px solid #fff;
   border-radius: 15px;
   color:#fff;
   background-color: #000;
   cursor: pointer;
   transition: 0.25s;
}
.applyJobBtn:hover
{
    color:#000;
    background-color: #fff;
    border-color: #000;
    transform: scale(1.1);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}
.overlay-content {
    background: white;
    height: 30vh;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    position: relative;
    display: flex;
    padding: 2%;
}
.overlayLeft,.overlayRight
{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}
.overlayRight
{
    align-items: flex-end;
    gap: 10%;
}
.closeOverlay {
    background: #000;
    color: #fff;
    border-radius: 30px;
    padding: 1% 1.2%;
    border: 3px solid #fff;
    cursor: pointer;
    position: absolute;
    right: -2%;
    top:-2%;
    font-weight: 700;
   
}
/* --------------Jobs Section -----------------*/

/* --------------About Section -----------------*/
.AboutSection
{
    height: 180vh !important;
}
.AboutNews {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 100%;
}

.row {
    display: flex;
    gap: 2%;
    align-items: center;
    padding: 0 3%;
    animation: slideInLeft 1s ease-out;
    animation-timeline: view();
    animation-range: entry 0%;
}

.AboutLeft,
.AboutRight {
    flex: 1;
}

.img-Wrapper {
    width: 100%;
    height: 50%;
}

.img-Wrapper img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 12px;
}




/* --------------About Section -----------------*/


/* Responsive Design */

@media (max-width: 1150px) {
    body
    {
        font-size: 16px;
    }
}

@media (max-width: 760px) {
    body
    {
        font-size: 12px;
    }
}

@media (max-width: 630px) {
    body
    {
        font-size: 10px;
    }
    .stillNavbarResponsive
    {
        position: fixed;
        width: 20%;
        background-color: #fff;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10000;
        transform: translateX(0%);
        transition: 0.3s ease-in;
    }
    .stillNavbarHidden
    {
        transform: translateX(-200%);
        height: 0;
        
    }
    
    .mid{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left
    {
        flex:0.2;
    }
    .imgCont
    {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 1%;
    }
    
    .imgCont img
    {
        display: none;
    }
    #hideNavbar
    {
        display: flex;
        font-size: 2em;
        font-weight: 800;
        cursor: pointer;
        z-index: 500;
    }
    #showNavbar
    {
        color:#fff;
        position: fixed;
        top: 2%;
        left: 4%;
        z-index: 499;
        display: flex;
        font-size: 2em;
        cursor: pointer;
        transition: .25s;
    }
    #showNavbar:hover
    {
        transform: scale(1.2);
    }
    .mid
    {
        display: flex;
        flex-direction: column;
        gap:10%;
        width: 60%;
    }
    .right
    {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .apply
    {
        
        width: inherit;
        height: 10%;
        border-radius: 25px;
        border: none;
        background-color: #000;
        color:#fff;
        cursor: pointer;
        transition: .25s;
        border: 1px solid #000;
        font-weight: 800;
        font-size: 0.8em;
    }
    .stillNavbar,.fixedNavBar
    {
        display: none;
    }
    
}

/* Responsive Design */


/* animations */
@keyframes blink
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes appear
{
    from{
        opacity: 0;
        scale: 0.9;
    }
    to{
        opacity: 1;
        scale: 1;
    }

}
@keyframes navbarVisible
{
    from{
        height: 0;
    }
    to{
        height: 8vh;
    }
}
@keyframes slideInLeft {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* animations */


/* Jobs styles */

.JobsSection,.RecruitersSection,.AboutSection
{
    height: 100vh;
}