@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body
{
    background-color: #5DADE2;
    color: #fff;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #6297bb;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.logOutBtn
{
    background-color: #5DADE2;
    color: #fff;
    border: 1px solid #6297bb;
    padding: 1%;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 0.9em;
    transition: background-color 0.3s, color 0.3s;
}
.logOutBtn:hover
{
    background-color: #6297bb;
    color: #fff;
    border-color: #fff;
}
.content 
{
    padding: 2em;
}

.PendingJobsTitle
{
    border-bottom: 2px solid #fff; 
    padding-bottom: 4px; 
    display: inline-block;
    width: 100%;
    margin-top: 5%;
}
#jobs-list,#students-list
{
    max-height: 40vh;
    overflow-y: auto;
    padding: 1%;
}
#jobs-list::-webkit-scrollbar,
#students-list::-webkit-scrollbar
{
    width: 8px;
}

#jobs-list::-webkit-scrollbar-track,
#students-list::-webkit-scrollbar-track
{
    background: #2a2a2a;
}

#jobs-list::-webkit-scrollbar-thumb,
#students-list::-webkit-scrollbar-thumb 
{
    background-color: #555;
    border-radius: 4px;
}

#jobs-list::-webkit-scrollbar-thumb:hover, 
#students-list::-webkit-scrollbar-thumb:hover
{
    background-color: #777; 
}
.singleJob,.singleStudent
{
    width: 100%;
    display: flex;
    cursor: pointer;
    transition: .25s;
    height: 13vh;
    border-bottom: 1px solid #fff; 
    padding-bottom: 4px; 
}

.JobTitle
{
    font-weight: 800;
}
.left
{
    display: flex;
    flex-direction: column;
    flex: 8;
}
.Description
{
    font-size: 0.8em;
}
.right
{
    display: flex;
    flex-direction: row;
    flex:1;
    gap: 10%;
    justify-content: center;
    align-items: center;
}
.OptBtn
{
    width: 100%;
    font-size: 0.7em;
    background-color: #5DADE2;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    height: 40%;
    cursor: pointer;
    transition: .25s;
    font-weight: 600;
}
.OptBtn:hover
{
    background-color: #fff;
    color: #5DADE2;
    border-color: #5DADE2;
}

/* Repsonsive Design */
@media (max-width: 1150px) {
    body
    {
        font-size: 16px;
    }
    .singleJob,.singleStudent
    {
        height: 10vh;
    }
}

@media (max-width: 760px) {
    body
    {
        font-size: 12px;
    }
    .singleJob,.singleStudent
    {
        height: 8%;
    }
}

@media (max-width: 630px) 
{
    body
    {
        font-size: 10px;
    }
    .singleJob,.singleStudent
    {
        height: 7vh;
    }
}
